.accent, .nav .wrapper ul li {
	background: #ffffff;
}
.about .fa-circle, .navbar h1 {
	color: #ffffff !important;
}
.btnaccent {
	background: #ffffff;
	color: #ffffff;
	font-weight: 500;
	font-size: 16px;
	outline: 0;
	border: 0;
	margin: 12px;
	padding: 16px;
	border-radius: 5px;
	cursor: pointer;
}