@charset "utf-8";
* {
	font-family: 'Roboto',sans-serif;
	user-select: none;
}
.postload {
	transition: all 0.5s;
}
html,body,main {
	height: 100%;
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	white-space: 0;
}
/* 100,300,400,500,700,900 */
h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 72px;
	margin: 0 0 0 0;
	text-align: center;
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 28px;
	margin-top: 0px;
	text-align: center;
}
.textlight {
	color: #ffffff;
}
.textdark {
	color: #333333;
}
section {
	min-height: 100%;
	width: 100%;
	padding: 100px 0 100px 0;
}
.header {
	min-height: 0;
	height: 100%;
	padding: 0;
	background:  linear-gradient(rgba(255,255,255,1)10%, rgba(255,255,255,0) 20%),url(../images/bg/geometry_@2X.png);
	background-attachment: fixed;
}
.header .wrapper {
	position: absolute;
	width: 100%;
	top: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.header .navbar {
	position: fixed;
	z-index: 2;
	height: auto;
	width: 100%;
	padding: 20px 40px 20px 40px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	align-items: center;
	transition: all 0.2s;
}
.header .navbar2 {
	background: #ffffff;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.hidden { 
	transform: translateY(-100%);
}
.header .navbar ul {
	display: flex;
	flex-wrap: nowrap;
	list-style: none;
}
.header .navbar ul li {
	color: #92989b;
	font-size: 16px;
	float: left;
	padding: 0 12px 0 12px;
	cursor: pointer;
}
.header .navbar h1 {
	font-size: 24px;
	font-weight: 600;
	text-align: left;
	cursor: pointer;
	width: auto;
}
.header .navbar ul li p {
}
.header h1,h2 {
	width: 100%;
	padding: 12px;
}
.header h1 {
	font-size: 72px;
	font-weight: 300;
}
.header h2 {
	font-size: 24px;
	font-weight: 300;
}
.about {
	text-align: center;
	min-height: auto;
}
.about p {
	font-size: 24px;
	font-weight: 300;
	padding: 0 20% 0 20%
}
.about h1,p {
	transition: all 0s !important;
}
.services {
	background: url(../images/bg/geometry_@2X.png);
	background-attachment: fixed;
	min-height: 0;
	height: auto;
}
.services .wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 0;
}
.services img {
	height: 700px;
	width: auto;
	transition: all 0s !important;
}
.services ul {
	list-style: none;
	padding: 0;
}
.services li {
	margin: 30px 30px 30px 30px;
	cursor: pointer;
	min-width: 0px;
	transition: all 0s !important;
}
.services li:hover {
	transform: scale(1.1);
	
}
.services h1 {
	transition: all 0s !important;
}
.services h2 {
	text-align: left;
	padding: 0;
	margin: 0;
	font-size: 24px;
	font-weight: 500;
	cursor: pointer;
}
.services p {
	text-align: left;
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-weight: 300;
	cursor: pointer;
}
.portfolio {
	min-height: 0;
	height: auto;
	background: url(../images/bg/geometry_@2X.png);
	background-attachment: fixed;
}
.portfolio .wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.portfolio .wrapper .item,.item2 {
	width: 350px;
	height: 350px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-size: 550px !important;
	background-position: center !important;
	position: relative;
	overflow: hidden;
	box-shadow: inset 0 0 200px #000000;
}
.portfolio .wrapper .item img {
	width: 350px;
	height: 350px;
	object-fit: cover;
	position: absolute;
	
}
.portfolio .wrapper .item h1 {
	opacity: 0;
	font-size: 48px;
	font-weight: 500;
	white-space: nowrap;
}
.portfolio .wrapper .item h2 {
	opacity: 0;
	font-size: 36px;
	font-weight: 300;
}
.portfolio .wrapper .item:hover img {
	filter: blur(5px);
}
.portfolio .wrapper .item:hover h1 {
	opacity: 100;
	z-index: 1;
	font-size: 36px;
}
.portfolio .wrapper .item:hover h2 {
	opacity: 100;
	z-index: 1;
	font-size: 24px;
}
.portfolio .wrapper .item2 {
	background: #212121;
	box-shadow: none;
}
.portfolio .wrapper .item2 h1 {
	font-size: 36px;
	font-weight: 500;
}
.portfolio .wrapper .item2 h2 {
	font-size: 24px;
	font-weight: 300;
}
.contact {
	/*-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);
clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);*/
}
.footer {
	width: 100%;
	background: #131313;
	display: flex;
	flex: 4;
	flex-wrap: nowrap;
	flex-direction: row;
	align-content: stretch;
	justify-content: flex-start;
	height: auto;
	min-height: 0;
	padding: 12px;
	box-sizing: border-box;
}
.footer ul {
	margin: 12px 144px 12px 12px;
	padding: 12px;
}
.footer li, a {
	color: #545454;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	list-style: none;
	text-align: left;
}
.footer li:first-child {
	color: #878787;
	font-weight: 400;
	padding: 0 0 10px 0;
}
.footer a:hover {
	text-decoration: none;
}
.footer a:visited {
	color: #545454;
}

/*nav */
/*.navtoggle {
	width: 80px;
	height: 80px;
	position: fixed;
	top: 30px;
	left: -80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	box-shadow:  0 0 30px rgba(0,0,0,0);
	cursor: pointer;
}
.navtoggle2 {
	width: 80px;
	height: 80px;
	position: fixed;
	top: 30px;
	left: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	box-shadow:  0 0 30px 2px rgba(0,0,0,0.1);
	cursor: pointer;
}*/
.navtoggle:hover .fa {
	transform: rotate(450deg) scale(0.9);
}
.nav {
	width: 100%;
	height: 100%;
	position: fixed;
	transform: scaleX(0);
	top: 0;
	left: 0;
	z-index: 2;
	background: #ffffff !important;
	transition: all 1s;
	transition-delay: 0s;
	box-shadow: 0 0 100px 0 rgba(0,0,0,0.5)
}
.navopen {
	width: 100%;
	height: 100%;
	transform: scaleX(1);
	top: 0;
	left: 0;
	position: fixed;
	transition-delay: 0s;
}
.nav .close {
	position: fixed;
	top: 50px;
	right: 50px;
	width: 60px;
	height: 60px;
	color: #212121 !important;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	cursor: pointer;
}
.nav .wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.nav .wrapper ul {
}
.nav .wrapper ul li {
	color: #ffffff;
	font-size: 48px;
	font-weight: 500;
	text-align: center;
	list-style: none;
	text-decoration: none;
	padding: 4px 100px 4px 100px;
	margin: 50px;
	box-sizing: border-box;
	cursor: pointer;
	opacity: 0;
	position: relative;
	left: -250px;
}
.nav a {
	text-decoration: none;
}
.nav a:visited {
	text-decoration: none;
}
.nav .wrapper ul li:hover {
	transform: scale(1.1);
}
/*Style switcher*/
.style-switcher {
	width: 0px;
	height: auto;
	position: fixed;
	top: 20%;
	right: 60px;
}
.style-switcher-toggle {
	width: 60px;
	height: 60px;
	position: relative;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #212121;
	cursor: pointer;
}
.style-switcher-block {
	width: 200px;
	height: auto;
	position: relative;
	top: -60px;
	right: -60px;
	background: #212121;
}
.style-switcher-block .wrapper {
	width: 200px;
	height: auto;
	padding: 6px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.style-switcher-block .wrapper .item {
	width: 50px;
	height: 50px;
	cursor: pointer;
	margin: 6px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.style-switcher-block .wrapper .item .fa {
	color: #212121 !important;
}
.style-switcher:hover{
	transform: translateX(-200px);
}
.style-switcher:hover .fa-spin-hover {
	animation: fa-spin 2s infinite linear !important;
}


.accent, .nav .wrapper ul li {
	background: #ffffff;
}
.about .fa-circle, .navbar h1 {
	color: #ffffff !important;
}
.btnaccent {
	background: #ffffff;
	color: #ffffff;
	font-weight: 500;
	font-size: 16px;
	outline: 0;
	border: 0;
	margin: 12px;
	padding: 16px;
	border-radius: 5px;
	cursor: pointer;
}
